<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>爱慕人才登陆</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body style="background: url(img/background.png) no-repeat;background-size: 100%;">
    <div id="app">
        <div class="login-box">
            <div style="width: 5%;"></div>
            <div class="login-right">
                <div class="logo-text">
                    <p>AIMER &nbsp;&nbsp; 内部竞聘平台</p>
                </div>
                <div class="sign-in">
                    <div class="name">
                        <img src="img/name.png" alt="">
                        <input type="text" placeholder="请输入用户名称" v-model="username" @blur="inputFocus"
                            @keyup.enter="login()">
                    </div>
                    <div class="password">
                        <img src="img/password.png" alt="">
                        <input type="password" placeholder="请输入登录密码" v-model="password" @blur="inputFocus"
                            @keyup.enter="login()">
                    </div>
                    <div class="sign-in-button">
                        <input id="login" ref="login" type="button" @click="login" value="登录">
                    </div>
                </div>
            </div>
            <div class="login-left">
                <img src="img/cartoon.png" alt="">
            </div>
        </div>
    </div>
    <!-- 引用的cdn -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/loginRequest.js"></script>
    <script src="js/login.js"></script> -->

    <!-- 引用本地 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/loginRequest.js"></script>
    <script src="js/login.js"></script>
</body>

</html>