<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>爱慕人才内聘</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="remarks" v-if="needAddRemarks">
            <div class="remarks-add">
                <span style="font-size: 18px;position: relative;left: 10px;">备注信息</span>
                <img src="img/click-x.png" @click="closeRemarks"
                    style="width: 40px;height: 40px;position: absolute;top: 1px;right: 1px;cursor: pointer;" alt="">
            </div>
            <div class="add-remarks">
                <textarea v-model="remarksText"></textarea>
            </div>
            <div style="display: flex;justify-content: space-around">
                <el-button type="primary" @click="postRemarks">确定添加</el-button>
                <el-button type="info" @click="closeRemarks">取消</el-button>
            </div>
        </div>
        <div class="remarks" v-if="needSeeRemarks">
            <div>
                <span style="font-size: 18px;position: relative;left: 10px;top: 10px;">备注信息</span>
                <img @click="closeRemarks" src="img/click-x.png"
                    style="width: 40px;height: 40px;position: absolute;top: 1px;right: 1px;cursor: pointer;" alt="">
            </div>
            <div class="remark-box">
                <div style="width: 30%;">时间</div>
                <div style="width: 70%;">备注内容</div>
            </div>
            <ul style="padding: 0;list-style: none;position: relative;top: 30px;text-align: left;">
                <li v-for="item in remarksArr" style="display: flex;margin: 20px 0;">
                    <div style="width: 30%;padding-left: 20px;">{{item.createDate | changeTime}}</div>
                    <div style="width: 70%;">{{item.content}}</div>
                </li>
            </ul>
        </div>
        <div class="remarks" v-if="needSeeRemarks"
            style="margin-top:110px;border:0;background-color: white;height: 40px;text-align: center;z-index: 99999;">
            <el-button type="primary" @click="postMoreRemarks">添加备注</el-button>
        </div>
        <el-container height="100%">
            <el-aside width="80px" height="100%">
                <div :class="{'aside-css':initPage}" style="cursor: pointer;margin-top: -380px;" @click="changeInit">
                    简历管理</div>
                <div :class="{'aside-css':!initPage}" style="cursor: pointer;" @click="changeInitFalse">标签管理</div>
            </el-aside>
            <el-container>
                <el-header>
                    <div style="position: absolute;color: #656565;font-size: 18px;">{{title}}</div>
                    <div
                        style="position: absolute;right: 150px;display: flex;justify-content: center;align-items: center;">
                        <span>{{usernametop}}</span>
                    </div>
                    <div style="position: absolute; cursor: pointer;right: 30px;" @click="logOut">退出登录</div>
                </el-header>
                <el-main style="position: relative;z-index: 999;">
                    <!-- 简历信息页面 -->
                    <div class="resume-management" v-show="initPage">
                        <el-row :gutter="20"
                            style="line-height: 45px;border-top: 1px solid #edecec;margin: 0;font-size: 'Arial Normal', 'Arial';">
                            <el-col :span="2">
                                <div class="grid-content bg-purple" style="float: right;">学历</div>
                            </el-col>
                            <el-col :span="16">
                                <ul id="edu"
                                    style="display: flex;flex-wrap: wrap;margin: 0;padding: 0;cursor: pointer;">
                                    <li ref="edu" v-for="(item,index) in education"
                                        :class="{'change':index == clickEindex}" :style="clickEstyle"
                                        @click="getEducation($event,index)">
                                        {{item}}
                                    </li>
                                </ul>
                            </el-col>
                            <el-col :span="6">
                                <el-input v-model="searchInput.phone" placeholder="请输入手机号/姓名/工号" style="width: 80%;"
                                    @keyup.enter.native="searchPnc"></el-input>
                                <span @click="searchPnc" style="cursor: pointer;">搜索</span>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20"
                            style="line-height: 45px;border-top: 1px solid #edecec;margin: 0;font-size: 'Arial Normal', 'Arial';">
                            <el-col :span="2">
                                <div class="grid-content bg-purple" style="float: right;">性别</div>
                            </el-col>
                            <el-col :span="22">
                                <ul id="sex" style="display: flex;flex-wrap: wrap;margin: 0;padding: 0;">
                                    <li v-for="(item,index) in sex" :class="{'change':index == clickSindex}"
                                        style=" list-style: none;margin-right: 30px;cursor: pointer; "
                                        @click="getSex(index)">
                                        {{item}}
                                    </li>
                                </ul>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20 "
                            style="line-height: 45px;border-top: 1px solid #edecec;margin: 0;font-size: 'Arial Normal', 'Arial';">
                            <el-col :span="2">
                                <div class="grid-content bg-purple" style="float: right;">技能标签</div>
                            </el-col>
                            <el-col :span="22">
                                <ul id="lable"
                                    style="display: flex;flex-wrap: wrap;margin: 0;padding: 0;cursor: pointer; ">
                                    <li v-for="(item,index) in allLables " :class="{'change':index==clickLindex}"
                                        @click="getLable($event,item,index)" :style="clickLstyle">
                                        {{item.lableName}}
                                    </li>
                                </ul>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20 "
                            style="line-height: 45px;border-top: 1px solid #edecec;margin: 0;font-size: 'Arial Normal', 'Arial';">
                            <el-col :span="2">
                                <div class="grid-content bg-purple" style="float: right;">竞聘岗位</div>
                            </el-col>
                            <el-col :span="22">
                                <div style="display: flex;position: relative;top: 8px;">
                                    <input type="text" v-model="searchCan.intention" style="width: 250px;height: 25px;">
                                </div>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20"
                            style="line-height: 45px;border-top: 1px solid #edecec;margin: 0;font-size: 'Arial Normal', 'Arial';border-bottom: 2px solid #656565;padding-bottom: 7px;">
                            <el-col :span="2">
                                <div class="grid-content bg-purple" style="float: right;">发布时间</div>
                            </el-col>
                            <el-col :span="22">
                                <ul style="display: flex;flex-wrap: wrap;margin: 0;padding: 0;">
                                    <li style="list-style: none;margin-right: 30px;">
                                        <div class="block">
                                            <el-date-picker @change="getSeTimeStart" value-format="yyyy/MM/dd"
                                                v-model="timeValueStart" align="left" type="date" placeholder="开始日期"
                                                :picker-options="pickerOptions">
                                            </el-date-picker>
                                            <el-date-picker @change="getSeTimeEnd" value-format="yyyy/MM/dd"
                                                v-model="timeValueEnd" type="date" placeholder="至今">
                                            </el-date-picker>
                                        </div>
                                    </li>
                                    <li style="list-style: none;margin-left:300px;">
                                        <el-button type="primary" @click="filterInfo">筛选</el-button>
                                        <el-button type="info" @click="emptyInfo">清空选择</el-button>
                                    </li>
                                </ul>
                            </el-col>
                        </el-row>
                        <div style="margin-left: 15px;">
                            <div
                                style="position: relative;right: 558px;font-size: 14px;top: 45px;z-index: 99;line-height: 20px;color: #909399;font-family: Microsoft YaHei;font-weight: 999;">
                                选择
                            </div>
                            <template>
                                <el-table ref="multipleTableResume" stripe :data="allResume" tooltip-effect="dark"
                                    style="width: 100%;" @select="deleteThisResume" :indeterminate="true"
                                    v-model="selectIndex">
                                    <el-table-column type="selection" width="50">
                                    </el-table-column>
                                    <el-table-column type="index" label="序号" :index="indexMethod" width="50">
                                    </el-table-column>
                                    <el-table-column prop="name" label="姓名" width="60">
                                    </el-table-column>
                                    <!-- <el-table-column prop="createDate" label="时间" width="60">
                                    </el-table-column> -->
                                    <el-table-column label="时间" width="60">
                                        <template slot-scope="scope">
                                            <div>
                                                {{scope.row.createDate | filterTime}}
                                            </div>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="gender" label="性别" width="50">
                                    </el-table-column>
                                    <el-table-column prop="code" label="工号" width="80">
                                    </el-table-column>
                                    <el-table-column prop="phone" label="手机号码" width="100">
                                    </el-table-column>
                                    <el-table-column prop="email" label="邮箱" width="160">
                                    </el-table-column>
                                    <el-table-column prop="education" label="学历" width="80">
                                    </el-table-column>
                                    <el-table-column prop="intention" label="竞聘岗位" width="100">
                                    </el-table-column>
                                    <el-table-column label="技能标签" width="200">
                                        <template slot-scope="scope">
                                            {{scope.row.lableid}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="操作" width="100">
                                        <template slot-scope="scope">
                                            <el-button @click.native.prevent="downloadResume(scope.$index, allResume)"
                                                type="text" size="small">
                                                下载
                                            </el-button>
                                            <el-button @click.native.prevent="deleteResume(scope.$index, allResume)"
                                                type="text" size="small">
                                                删除
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="备注" width="50">
                                        <template slot-scope="scope">
                                            <el-button type="text" @click="addRemarks(scope.row.isRemarks,scope.row)">
                                                {{scope.row.isRemarks == 0 ? '添加' : '查看'}}
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div v-if="showDeleDown"
                                    style="display: flex;justify-content: left;margin-top: 20px;line-height: 40px;margin-left: 18px;">
                                    <el-checkbox style="line-height: 40px;margin-right: 20px;" v-model="checked"
                                        @change="toggleSelection()">全选</el-checkbox>
                                    <el-button @click="deleteChoiceResume">删除</el-button>
                                    <el-button @click="downloadMoreResume">下载</el-button>
                                </div>
                            </template>
                            <div v-if="showPage" class="block " style="position: relative;line-height: 30px;">
                                <el-row>
                                    <el-col :span="24" style="display: flex;justify-content: center;">
                                        <el-pagination :pager-count="10" layout="total,prev, pager, next, jumper"
                                            :current-page.sync="currentPage1" :total="allResumeMember"
                                            :page-size="params.size" @prev-click="getPrevResume"
                                            @next-click="getNextResume" @current-change="changeCurrentResume">
                                        </el-pagination>
                                        <el-button style="line-height: 5px;margin-left: 15px;" type="primary">确定
                                        </el-button>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24" style="display: flex;justify-content: center;">
                                        <div style="font-size: 14px;color: #606266;">
                                            共&nbsp;&nbsp;{{allResumeMember | totalLablePage}}&nbsp;&nbsp;页</div>
                                    </el-col>
                                </el-row>
                            </div>
                        </div>
                    </div>

                    <!-- 标签信息页面 -->
                    <div class="label-management " v-show="!initPage">
                        <el-row :gutter="20"
                            style="line-height: 60px;border-top: 1px solid #edecec;margin: 0;font-size: 'Arial Normal', 'Arial';">
                            <el-col :span="6">
                                <div class="grid-content bg-purple" style="margin-left:-150px">标签管理</div>
                            </el-col>
                        </el-row>
                        <div>
                            <el-row :gutter="20"
                                style="line-height: 60px;border-top: 1px solid #edecec;border-bottom: 1px solid #edecec;margin: 0;">
                                <el-col :span="6">
                                    <div class="grid-content bg-purple" style="margin-left:-120px">
                                        <el-button type="primary" @click="addLabel">添加标签</el-button>
                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                        <div style="margin-left: 40px;">
                            <div
                                style="position: relative;right: 515px;font-size: 14px;top: 45px;z-index: 99;line-height: 20px;color: #909399;font-family: Microsoft YaHei;font-weight: 999;">
                                选择
                            </div>
                            <template>
                                <el-table ref="multipleTable" stripe :data="tableData" tooltip-effect="dark"
                                    style="width: 100%" @select="deleteChoice">
                                    <el-table-column type="selection" width="110">
                                    </el-table-column>
                                    <el-table-column type="index" :index="indexMethods" label="序号" width="240">
                                    </el-table-column>
                                    <el-table-column prop="lableName" label="标签名称" width="240">
                                    </el-table-column>
                                    <el-table-column label="操作" width="240">
                                        <template slot-scope="scope">
                                            <el-button @click.native.prevent="deleteLable(scope.$index, tableData)"
                                                type="text" size="small">
                                                删除
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div
                                    style="display: flex;justify-content: left;margin-top: 20px;cursor: pointer;margin-left: 48px;">
                                    <el-checkbox style="line-height: 40px;margin-right: 20px;" v-model="checkedLable"
                                        @change="toggleSelectionLable()">全选</el-checkbox>
                                    <el-button @click="deleteChoiceLable" style="cursor: pointer;">删除</el-button>
                                </div>
                            </template>
                            <div class="block" style="position: relative;line-height: 30px;">
                                <el-row>
                                    <el-col :span="24" style="display: flex;justify-content: center;">
                                        <el-pagination :pager-count="10" layout="total,prev, pager, next, jumper"
                                            :current-page="currentPage" :total="allLableMember" :page-size="params.size"
                                            @prev-click="getPrevLable" @next-click="getNextLable"
                                            @current-change="changeCurrent">
                                        </el-pagination>
                                        <el-button style="line-height: 5px;margin-left: 10px;" type="primary">确定
                                        </el-button>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24" style="display: flex;justify-content: center;">
                                        <div style="font-size: 14px;color: #606266;">
                                            共&nbsp;&nbsp;{{allLableMember | totalLablePage}}&nbsp;&nbsp;页</div>
                                    </el-col>
                                </el-row>
                            </div>
                        </div>
                    </div>
                </el-main>

                <!-- 简历信息模块 -->
                <div class="show-resume"
                    style="position: fixed;z-index: -9999999; width: 595px;height:842px;margin-left: 20%;overflow: auto;">
                    <div class="test" id="test">
                        <div style="font-size: 20px;color: red;margin-left: 3%;">AIMER<br>
                        </div>
                        <hr>
                        <div style="display: flex;justify-content: center;">
                            <div style="width: 5%;"></div>
                            <div class="left" style="width: 25%;">
                                <div style="font-size: 25px;margin-bottom: 15px;">{{soleData.name}}</div>
                                <div style="font-size: 15px;margin-bottom: 30px;">内聘岗位：{{soleData.intention}}</div>
                                <div style="font-size: 14px;margin-bottom: 5px;">{{soleData.phone}}</div>
                                <div style="font-size: 14px;margin-bottom: 30px;">{{soleData.email}}</div>
                                <div style="width:100%;margin-bottom: 30px;">
                                    <img :src="soleData.pageUrl" alt="" width="80%">
                                </div>
                                <div style="font-size: 14px;margin-bottom: 5px;">身高：{{soleData.height}}</div>
                                <div style="font-size: 14px;margin-bottom: 5px;">体重：{{soleData.weight}}</div>
                                <div style="font-size: 14px;margin-bottom: 5px;" v-if="soleData.chest">
                                    胸围：{{soleData.chest}}</div>
                                <div style="font-size: 14px;margin-bottom: 5px;" v-if="soleData.waist">
                                    腰围：{{soleData.waist}}</div>
                                <div style="font-size: 14px;margin-bottom: 100px;" v-if="soleData.hips">
                                    臀围：{{soleData.hips}}</div>
                                <div style="font-size: 12px;">
                                    <p>技能标签:</p>
                                    <ul style="list-style: none;">
                                        <li v-for="item in downloadLableId"
                                            style="color:#808080;border: 1px solid;border-radius: 2px;margin-bottom: 10px;text-align: center;">
                                            {{item}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div style="width: 10%;"></div>
                            <div class="right" style="width: 55%;">
                                <div style="border-bottom: 1px solid;margin-bottom: 10px;">
                                    <div style="font-size: 21px;margin-bottom: 5px;"> <span
                                            style="font-size: 15px;">|</span> 基本信息</div>
                                    <div style="font-size: 12px;margin-bottom: 5px;">
                                        <span>性别：{{soleData.gender}}</span>
                                        <span>学历：{{soleData.education}}</span>
                                        <span>工号：{{soleData.code}}</span>
                                    </div>
                                    <div style="font-size: 12px;margin-bottom: 5px;">部门：{{soleData.department}}</div>
                                    <div style="font-size: 12px;margin-bottom: 5px;">目前所在岗位：{{soleData.post}}</div>
                                    <div style="font-size: 12px;margin-bottom: 30px;">曾任职岗位：{{soleData.formerPost}}
                                    </div>
                                </div>
                                <div style="border-bottom: 1px solid;">
                                    <div style="font-size: 21px;margin-bottom: 5px;"><span
                                            style="font-size: 15px;">|</span>竞聘信息</div>
                                    <div style="margin-bottom: 5px;">①相关技能介绍
                                        <!-- <div style="font-size: 12px;">{{soleData.skill}}</div> -->
                                        <div v-html="soleData.skill"></div>
                                    </div>
                                    <div style="margin-bottom: 30px;">②工作履历
                                        <!-- <div style="font-size: 12px;">{{soleData.experience}}</div> -->
                                        <div v-html="soleData.experience"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 5%;"></div>
                        </div>
                    </div>
                </div>
            </el-container>
        </el-container>
    </div>
    <!-- 引用cdn -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="http://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/indexRequest.js"></script>
    <script src="js/request.js"></script>
    <script src="js/index.js"></script> -->

    <!-- 引用本地 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/element.js"></script>
    <script src="js/html2canvas.js"></script>
    <script src="js/indexRequest.js"></script>
    <script src="js/request.js"></script>
    <script src="js/index.js"></script>
</body>

</html>