<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>爱慕人才登陆</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body style="background: url(img/background.png) no-repeat;background-size: 100%;">
    <div id="app">
        <div class="login-box">
            <div style="width: 5%;"></div>
            <div class="login-right">
                <div class="logo-text">
                    <p>AIMER &nbsp;&nbsp; 内部竞聘平台</p>
                </div>
                <div class="sign-in">
                    <div class="name">
                        <img src="img/name.png" alt="">
                        <input type="text" placeholder="请输入用户名称" v-model="username">
                    </div>
                    <div class="password">
                        <img src="img/password.png" alt="">
                        <input type="password" placeholder="请输入登录密码" v-model="password">
                    </div>
                    <div class="sign-in-button">
                        <input type="button" @click="login" value="登录">
                    </div>
                </div>
            </div>
            <div class="login-left">
                <img src="img/cartoon.png" alt="">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // axios.defaults.baseURL = 'http://10.2.200.70/api';
        //生产环境
        axios.defaults.baseURL = 'http://np.aimergroup.com:8081/api/'
        new Vue({
            el: '#app',
            data: {
                //用户名
                username: '',
                //登录密码
                password: '',
            },
            methods: {
                login() {
                    const _this = this
                        // console.log(111)
                    axios.post('user/sub', null, {
                        params: {
                            username: this.username,
                            password: this.password
                        }
                    }).then(function(res) {
                        // console.log(res.data.msg)
                        if (res.data.code == 200) {
                            // console.log(_this.username)
                            window.localStorage.setItem('token', res.data.data)
                            window.location.href = "index.html?username=" + res.data.msg
                        } else {
                            window.alert('用户名称和登录密码错误！请检查')
                        }
                    })
                }
            },
        })
    </script>
</body>

</html>